:root {
  font-size: 18px;
  height: 300vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 80%;
  height: 60vh;
  padding: 5%;
  margin: auto;

  position: relative;

  background-color: aquamarine;
}
.inner {
  width: 50vmin;
  height: 80vmin;
  /* padding: 5%; */
  margin: auto;

  /* position: relative; */

  background-color: pink;
}
.absolute{
  position: absolute;
  /* bottom:0;
  left:0;
  top:0;
  right: 0;

  z-index: 3;
  background-color: teal; */
}
.top0{
  top:0;
}
.top50{
  top:50%;
}
.bottom0{
  bottom:0;
}
.left{
  left:0;
}
.right0{
  right:0;
}
.z-index{
  z-index: 3;
}
.block{
  width: 100px;
  height: 50px;
  padding: 10px;

  outline: 1px solid #333;

  background-color: orange;
}
.static{
  position: static;
  /* top:0;
  left:0;
  right: 0;
  bottom:0;
  z-index: 1; */
}
.relative{
  /* margin: 20px 0; */
  position: relative;
  /* top: 50%;
  left: 100%; */
  /* bottom: -20px; */
  /* right: 0;
  bottom:0;*/
  /* z-index: -1;  */
}
.fixed{
  position: fixed;
  bottom:0;
  left:0;
  z-index: 2;
}
